
body{
    margin: 0;
    padding: 0;
    background-image: url("https://images.pexels.com/photos/32047220/pexels-photo-32047220/free-photo-of-vibrant-blue-sky-with-fluffy-clouds.jpeg");
    background-repeat: no-repeat;
    background-size: cover;


}
.head{
    background-color: #5B9BD5;
    color: black;
    width: 100%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    gap: 38vw;
    
    

}
.img{
    height:10vh;
    padding-left: 2vw;
    

}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    
}
.content>input{
    height: 5vh;
    width: 12vw;
    font-size: larger;
    border-radius: 4rem;
    padding-left: 2rem;
    border: 0;

}
.content>button{
     height: 5vh;
    width: 5vw;
    font-size: larger;
    border-radius: 4rem;
    cursor: pointer;
    border: 0;

}
.content>button:hover{
    background-color: #5B9BD5;
}

.content{
    display: flex;
    gap: 2vw;
}
.card_img{
    display: flex;
    justify-content: left;
    padding-left: 5rem;
    gap: 10vw;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: #5B9BD5;
    color: black;
    width: 60vw;
    padding: 2rem;
    border-radius: 3rem;
    justify-content: center;
  
}
.data{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5rem;
}
.image{
    height: 15vh;
    width: 10vw;

    background-color: inherit;
    background: inherit;
}